<div
  style="
    width: 420px;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid #d28470;
    background: #fafafa;
    color: #ebb15f;
  "
>
  <h1 style="text-align: center">
    Hello <span style="color: #8cc8ea">{{username}}</span>!
  </h1>
  <p style="text-align: center">
    Your reservations at <span style="color: #8cc8ea">{{hotel}}</span> has been
    canceled.
  </p>
  <br />
  <img
    width="420"
    src="https://img.pngio.com/flat-cartoon-city-day-looped-stock-footage-video-100-royalty-cartoon-city-background-852_480.jpg"
    alt="Cartoon city"
  />
  <p style="text-align: right">Best,</p>
  <p style="text-align: right">Booking Clone Team</p>
</div>
